<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcang.spider.hotel.domain.mapper.MeituanHotelDetailDOMapper">


	<!-- 通用查询结果列-->
	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[
			id,
			detail_html_info AS detailHtmlInfo,
			img_json_info AS imgJsonInfo,
			create_time AS createTime,
			update_time AS updateTime,
			mark_status AS markStatus
		]]>
	</sql>

	<!-- 查询列来源表 -->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM meituan_hotel_detail]]></sql>



	<!--全部条件(更多功能可以通过queryData扩展实现) -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
			<if test="id!=null "><![CDATA[AND id= #{id}]]></if>
			<if test="detailHtmlInfo!=null "><![CDATA[AND detail_html_info= #{detailHtmlInfo}]]></if>
			<if test="imgJsonInfo!=null "><![CDATA[AND img_json_info= #{imgJsonInfo}]]></if>
			<if test="createTime!=null "><![CDATA[AND create_time= #{createTime}]]></if>
			<if test="updateTime!=null "><![CDATA[AND update_time= #{updateTime}]]></if>
			<if test="markStatus!=null "><![CDATA[AND mark_status= #{markStatus}]]></if>
		</where>
	</sql>
	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->	<!-- 修 改-->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			<if test="detailHtmlInfo!=null"><![CDATA[detail_html_info = #{detailHtmlInfo},]]></if>
			<if test="imgJsonInfo!=null"><![CDATA[img_json_info = #{imgJsonInfo},]]></if>
			<if test="createTime!=null"><![CDATA[create_time = #{createTime},]]></if>
			<if test="updateTime!=null"><![CDATA[update_time = #{updateTime},]]></if>
			<if test="markStatus!=null"><![CDATA[mark_status = #{markStatus},]]></if>
		</set>
	</sql>
	<!-- 插入记录 -->
	<insert id="insertSelective" parameterType="meituanHotelDetailDO" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO meituan_hotel_detail
			<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">id,</if>
				<if test="detailHtmlInfo!=null">detail_html_info,</if>
				<if test="imgJsonInfo!=null">img_json_info,</if>
				<if test="createTime!=null">create_time,</if>
				<if test="updateTime!=null">update_time,</if>
				<if test="markStatus!=null">mark_status,</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id!=null">#{id},</if>
				<if test="detailHtmlInfo!=null">#{detailHtmlInfo},</if>
				<if test="imgJsonInfo!=null">#{imgJsonInfo},</if>
				<if test="createTime!=null">#{createTime},</if>
				<if test="updateTime!=null">#{updateTime},</if>
				<if test="markStatus!=null">#{markStatus},</if>
			</trim>
	</insert>

	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 删除记录,主键IN(array)  -->
	<delete id="deleteByArrayKey" parameterType="java.lang.reflect.Array">
		 <![CDATA[DELETE FROM meituan_hotel_detail  WHERE id IN]]>
		 <foreach collection="array" item="id" open="(" separator="," close=")">
			 <![CDATA[#{id}]]>
		</foreach>
	</delete>

	<!--删除,通过条件-->
	<delete id="deleteByCondtion" parameterType="meituanHotelDetailDO">
		<![CDATA[DELETE FROM meituan_hotel_detail]]>
			<include refid="QUERY_WHERE_CLAUSE"/>
	</delete>

	<!--删除,通过主键-->
	<delete id="deleteByPrimaryKey" parameterType="meituanHotelDetailDO">
		 <![CDATA[DELETE FROM meituan_hotel_detail  WHERE id = #{id}]]>
	</delete>

	<!--修改记录通过主键-->
	<update id="updateByPrimaryKeySelective" parameterType="meituanHotelDetailDO">
		<![CDATA[UPDATE meituan_hotel_detail]]>
			<include refid="UPDATE_COLUMN_SET"/>
			<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键==(key) -->
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="meituanHotelDetailDO">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id =#{id}]]>
	</select>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectEntryArray" parameterType="java.lang.reflect.Array" resultType="meituanHotelDetailDO">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="array" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectEntryList" parameterType="meituanHotelDetailDO" resultType="meituanHotelDetailDO">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>

	<!-- 总数查询,通过条件-->
	<select id="selectEntryListCount" parameterType="meituanHotelDetailDO" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>



</mapper>