<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcang.spider.hotel.domain.mapper.MeituanHotelInfoDOMapper">


	<!-- 通用查询结果列-->
	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[
			id,
			name_ch AS nameCh,
			original_url AS originalUrl,
			original_page AS originalPage,
			region,
			city,
			city_id AS cityId,
			province,
			htladdress,
			zonenames,
			hotel_level AS hotelLevel,
			avg_score AS avgScore,
			judgement,
			comment_count AS commentCount,
			price_low AS priceLow,
			brand,
			brand_id AS brandId,
			hotel_res AS hotelRes,
			ext_info AS extInfo,
			contact,
			star_desc AS starDesc,
			star,
			mark,
			create_time AS createTime,
			update_time AS updateTime,
			city_hotel_assem_id AS cityHotelAssemId
		]]>
	</sql>

	<!-- 查询列来源表 -->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM meituan_hotel_info]]></sql>



	<!--全部条件(更多功能可以通过queryData扩展实现) -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
			<if test="id!=null "><![CDATA[AND id= #{id}]]></if>
			<if test="nameCh!=null "><![CDATA[AND name_ch= #{nameCh}]]></if>
			<if test="originalUrl!=null "><![CDATA[AND original_url= #{originalUrl}]]></if>
			<if test="originalPage!=null "><![CDATA[AND original_page= #{originalPage}]]></if>
			<if test="region!=null "><![CDATA[AND region= #{region}]]></if>
			<if test="city!=null "><![CDATA[AND city= #{city}]]></if>
			<if test="cityId!=null "><![CDATA[AND city_id= #{cityId}]]></if>
			<if test="province!=null "><![CDATA[AND province= #{province}]]></if>
			<if test="htladdress!=null "><![CDATA[AND htladdress= #{htladdress}]]></if>
			<if test="zonenames!=null "><![CDATA[AND zonenames= #{zonenames}]]></if>
			<if test="hotelLevel!=null "><![CDATA[AND hotel_level= #{hotelLevel}]]></if>
			<if test="avgScore!=null "><![CDATA[AND avg_score= #{avgScore}]]></if>
			<if test="judgement!=null "><![CDATA[AND judgement= #{judgement}]]></if>
			<if test="commentCount!=null "><![CDATA[AND comment_count= #{commentCount}]]></if>
			<if test="priceLow!=null "><![CDATA[AND price_low= #{priceLow}]]></if>
			<if test="brand!=null "><![CDATA[AND brand= #{brand}]]></if>
			<if test="brandId!=null "><![CDATA[AND brand_id= #{brandId}]]></if>
			<if test="hotelRes!=null "><![CDATA[AND hotel_res= #{hotelRes}]]></if>
			<if test="extInfo!=null "><![CDATA[AND ext_info= #{extInfo}]]></if>
			<if test="contact!=null "><![CDATA[AND contact= #{contact}]]></if>
			<if test="starDesc!=null "><![CDATA[AND star_desc= #{starDesc}]]></if>
			<if test="star!=null "><![CDATA[AND star= #{star}]]></if>
			<if test="mark!=null "><![CDATA[AND mark= #{mark}]]></if>
			<if test="createTime!=null "><![CDATA[AND create_time= #{createTime}]]></if>
			<if test="updateTime!=null "><![CDATA[AND update_time= #{updateTime}]]></if>
			<if test="cityHotelAssemId!=null "><![CDATA[AND city_hotel_assem_id= #{cityHotelAssemId}]]></if>
		</where>
	</sql>
	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->	<!-- 修 改-->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			<if test="nameCh!=null"><![CDATA[name_ch = #{nameCh},]]></if>
			<if test="originalUrl!=null"><![CDATA[original_url = #{originalUrl},]]></if>
			<if test="originalPage!=null"><![CDATA[original_page = #{originalPage},]]></if>
			<if test="region!=null"><![CDATA[region = #{region},]]></if>
			<if test="city!=null"><![CDATA[city = #{city},]]></if>
			<if test="cityId!=null"><![CDATA[city_id = #{cityId},]]></if>
			<if test="province!=null"><![CDATA[province = #{province},]]></if>
			<if test="htladdress!=null"><![CDATA[htladdress = #{htladdress},]]></if>
			<if test="zonenames!=null"><![CDATA[zonenames = #{zonenames},]]></if>
			<if test="hotelLevel!=null"><![CDATA[hotel_level = #{hotelLevel},]]></if>
			<if test="avgScore!=null"><![CDATA[avg_score = #{avgScore},]]></if>
			<if test="judgement!=null"><![CDATA[judgement = #{judgement},]]></if>
			<if test="commentCount!=null"><![CDATA[comment_count = #{commentCount},]]></if>
			<if test="priceLow!=null"><![CDATA[price_low = #{priceLow},]]></if>
			<if test="brand!=null"><![CDATA[brand = #{brand},]]></if>
			<if test="brandId!=null"><![CDATA[brand_id = #{brandId},]]></if>
			<if test="hotelRes!=null"><![CDATA[hotel_res = #{hotelRes},]]></if>
			<if test="extInfo!=null"><![CDATA[ext_info = #{extInfo},]]></if>
			<if test="contact!=null"><![CDATA[contact = #{contact},]]></if>
			<if test="starDesc!=null"><![CDATA[star_desc = #{starDesc},]]></if>
			<if test="star!=null"><![CDATA[star = #{star},]]></if>
			<if test="mark!=null"><![CDATA[mark = #{mark},]]></if>
			<if test="createTime!=null"><![CDATA[create_time = #{createTime},]]></if>
			<if test="updateTime!=null"><![CDATA[update_time = #{updateTime},]]></if>
			<if test="cityHotelAssemId!=null"><![CDATA[city_hotel_assem_id = #{cityHotelAssemId},]]></if>
		</set>
	</sql>
	<!-- 插入记录 -->
	<insert id="insertSelective" parameterType="meituanHotelInfoDO" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO meituan_hotel_info
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id!=null">id,</if>
				<if test="nameCh!=null">name_ch,</if>
				<if test="originalUrl!=null">original_url,</if>
				<if test="originalPage!=null">original_page,</if>
				<if test="region!=null">region,</if>
				<if test="city!=null">city,</if>
				<if test="cityId!=null">city_id,</if>
				<if test="province!=null">province,</if>
				<if test="htladdress!=null">htladdress,</if>
				<if test="zonenames!=null">zonenames,</if>
				<if test="hotelLevel!=null">hotel_level,</if>
				<if test="avgScore!=null">avg_score,</if>
				<if test="judgement!=null">judgement,</if>
				<if test="commentCount!=null">comment_count,</if>
				<if test="priceLow!=null">price_low,</if>
				<if test="brand!=null">brand,</if>
				<if test="brandId!=null">brand_id,</if>
				<if test="hotelRes!=null">hotel_res,</if>
				<if test="extInfo!=null">ext_info,</if>
				<if test="contact!=null">contact,</if>
				<if test="starDesc!=null">star_desc,</if>
				<if test="star!=null">star,</if>
				<if test="mark!=null">mark,</if>
				<if test="createTime!=null">create_time,</if>
				<if test="updateTime!=null">update_time,</if>
				<if test="cityHotelAssemId!=null">city_hotel_assem_id,</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id!=null">#{id},</if>
				<if test="nameCh!=null">#{nameCh},</if>
				<if test="originalUrl!=null">#{originalUrl},</if>
				<if test="originalPage!=null">#{originalPage},</if>
				<if test="region!=null">#{region},</if>
				<if test="city!=null">#{city},</if>
				<if test="cityId!=null">#{cityId},</if>
				<if test="province!=null">#{province},</if>
				<if test="htladdress!=null">#{htladdress},</if>
				<if test="zonenames!=null">#{zonenames},</if>
				<if test="hotelLevel!=null">#{hotelLevel},</if>
				<if test="avgScore!=null">#{avgScore},</if>
				<if test="judgement!=null">#{judgement},</if>
				<if test="commentCount!=null">#{commentCount},</if>
				<if test="priceLow!=null">#{priceLow},</if>
				<if test="brand!=null">#{brand},</if>
				<if test="brandId!=null">#{brandId},</if>
				<if test="hotelRes!=null">#{hotelRes},</if>
				<if test="extInfo!=null">#{extInfo},</if>
				<if test="contact!=null">#{contact},</if>
				<if test="starDesc!=null">#{starDesc},</if>
				<if test="star!=null">#{star},</if>
				<if test="mark!=null">#{mark},</if>
				<if test="createTime!=null">#{createTime},</if>
				<if test="updateTime!=null">#{updateTime},</if>
				<if test="cityHotelAssemId!=null">#{cityHotelAssemId},</if>
			</trim>
	</insert>

	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 删除记录,主键IN(array)  -->
	<delete id="deleteByArrayKey" parameterType="java.lang.reflect.Array">
		 <![CDATA[DELETE FROM meituan_hotel_info  WHERE id IN]]>
		 <foreach collection="array" item="id" open="(" separator="," close=")">
			 <![CDATA[#{id}]]>
		</foreach>
	</delete>

	<!--删除,通过条件-->
	<delete id="deleteByCondtion" parameterType="meituanHotelInfoDO">
		<![CDATA[DELETE FROM meituan_hotel_info]]>
			<include refid="QUERY_WHERE_CLAUSE"/>
	</delete>

	<!--删除,通过主键-->
	<delete id="deleteByPrimaryKey" parameterType="meituanHotelInfoDO">
		 <![CDATA[DELETE FROM meituan_hotel_info  WHERE id = #{id}]]>
	</delete>

	<!--修改记录通过主键-->
	<update id="updateByPrimaryKeySelective" parameterType="meituanHotelInfoDO">
		<![CDATA[UPDATE meituan_hotel_info]]>
			<include refid="UPDATE_COLUMN_SET"/>
			<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键==(key) -->
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="meituanHotelInfoDO">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id =#{id}]]>
	</select>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectEntryArray" parameterType="java.lang.reflect.Array" resultType="meituanHotelInfoDO">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="array" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectEntryList" parameterType="meituanHotelInfoDO" resultType="meituanHotelInfoDO">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>

	<!-- 总数查询,通过条件-->
	<select id="selectEntryListCount" parameterType="meituanHotelInfoDO" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>



</mapper>